<div id="query">
  <form #queryForm="ngForm">
    <div class="form-group">
      <h3>Query by:</h3>
      <div class="form-check-inline">
        <input class="form-check-inline" type="radio" name="queryType" id="artist" value="0" [(ngModel)]="queryValue">
        <label class="form-check-label" for="artist">Artist</label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-inline" type="radio" name="queryType" id="eventID" value="1" [(ngModel)]="queryValue">
        <label class="form-check-label" for="eventID">EventID</label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-inline" type="radio" name="queryType" id="day" value="2" [(ngModel)]="queryValue">
        <label class="form-check-label" for="day">Day</label>
      </div>
      <div class="form-check-inline">
        <input class="form-check-inline" type="radio" name="queryType" id="dayAndYear" value="3" [(ngModel)]="queryValue">
        <label class="form-check-label" for="dayAndYear">Day and Year</label>
      </div>
    </div>

    <div [ngSwitch]=queryValue class="form-group">
      <div id="artistQueryTemplate" *ngSwitchCase="0">
        <label class="form-check-label" for="artistInput">Artist:</label>
        <input class="form-check-inline" type="text" name="artistInput" id="artistInput" [(ngModel)]="map['artist']">
      </div>
      <div id="eventIDQueryTemplate" *ngSwitchCase="1">
        <label class="form-check-label" for="eventIDInput">EventID:</label>
        <input class="form-check-inline" type="text" name="eventIDInput" id="eventIDInput" [(ngModel)]="map['eventID']">
      </div>
      <div id="dayQueryTemplate" *ngSwitchCase="2">
        <label class="form-check-label" for="dayInput">Day:</label>
        <input class="form-check-inline" type="text" name="dayInput" id="dayInput" [(ngModel)]="map['day']">
      </div>
      <div id="dayAndYearQueryTemplate" *ngSwitchCase="3">
        <label class="form-check-label" for="dayAndYearDayInput">Day:</label>
        <input class="form-check-inline" type="text" name="dayAndYearDayInput" id="dayAndYearDayInput" [(ngModel)]="map['day']">
        <br/>
        <label class="form-check-label" for="dayAndYearDayInput">Year:</label>
        <input class="form-check-inline" type="text" name="dayAndYearYearInput" id="dayAndYearYearInput" [(ngModel)]="map['year']">
      </div>
    </div>

    <div id="buttons" class="form-group">
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Search</button>
    </div>
  </form>
  <table id="results" class="table">
    <thead>
      <tr>
        <th>Event ID</th>
        <th>Date</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>
          {{result.eventID}}
        </td>
        <td>
          {{result.day}} - {{result.year}}
        </td>
        <td>
          {{result.artist}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
